.partnerAddDialog > .MuiDialog-container > .MuiPaper-root {
  padding: 24px !important;
}

.addDialogForm {
  height: 100% !important;
  margin: 0px !important;
  div[class*="MuiGrid-container"] {
    height: 100% !important;
  }
}

.addDialogForm > .MuiGrid-root {
  .inputField {
    fieldset {
      border-color: rgba(109, 179, 55, 0.5);
    }
    .MuiFormLabel-root.Mui-focused {
      color: rgba(109, 179, 55, 1) !important;
    }

    .MuiFormLabel-root {
      font-family: "Rubik", sans-serif !important;
    }
    .MuiFormLabel-root.Mui-error.Mui-focused {
      color: #f44336 !important;
    }

    .MuiFormHelperText-root.Mui-error {
      font-family: "Rubik", sans-serif !important;
    }

    .MuiInputBase-root.Mui-error {
      fieldset {
        border-color: #f44336 !important;
      }
    }
  }

  .inputFieldError {
    .MuiFormLabel-root {
      font-family: "Rubik", sans-serif !important;
      color: #f44336 !important;
    }

    fieldset {
      border-color: #f44336 !important;
    }
  }

  div:nth-child(2) {
    padding-left: 0px !important;
    padding-right: 0px !important;
    .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
      padding: 9px !important;
    }

    .partnerNameField {
      input {
        text-align: center !important;
      }
    }
  }

  div:nth-child(3) {
    padding-left: 0px !important;
  }

  div:nth-child(4) {
    padding-right: 0px !important;
  }

  div:nth-child(5) {
    padding-left: 0px !important;
  }

  div:nth-child(8) {
    padding-right: 0px !important;
  }

  .cancelButtonGridItem {
    margin-top: 12px !important;
    height: 45px !important;
    padding: 0px 12px 0px 0px !important;
  }
  .submitButtonGridItem {
    margin-top: 12px !important;
    height: 45px !important;
    padding: 0px 0px 0px 12px !important;
  }
}
