.grow {
  flex-grow: 1;
}

.topBar {
    height: 45px !important;
    box-shadow: 0px 0px 0px !important;
    background-color: #337003 !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    width: 100% !important;
    padding: 0px !important;
  }
  
  .userName.MuiTypography-h6 {
    color: #fff !important;
    font-weight: 500 !important;
  }

  .topBarIcon {
    color: #fff !important;
    border-radius: 0 !important;
    &:hover {
      background-color: transparent !important;
    }
  }